
# SQLite backups
red74/wfsearch_811_yard/wfsearch811/djangosite/sqlitedb/wfsearch-files.db
red74/wfsearch_811_yard/wfsearch811/djangosite/sqlitedb/wfsearch-files.db-bak-a

.env
.env.*
.env.secret
.vscode

*.pyc

staticfiles/
mediafiles/
djangosite/static/

postgres/data/

sysdata/
datasys/
data/
log/
x/
baks/

zip/

*.tgz
*.tar.gz
*.zip


#*.sqlite3


# too large..
dbeaver-ce-21.zip
/red74/wmgdashboard/dbeaver/*.zip
/red74/wmgdashboard/dbeaver/*.7z

red74/hassist708yard_zip/
