#Django>=4


#Django>=2,<3
Django<=4.1.7
django-extensions
channels
channels_redis
django-htmx

djangorestframework
djangorestframework_simplejwt
django-cors-headers
#django-crontab
apscheduler
gunicorn

#mysqlclient
django-environ
whitenoise

Pillow
django-nested-inline
