# comments removed. only active settings...

CHECK_FOR_UPDATES=redacted
COLLABORA_ADMIN_PASSWORD=redacted
COLLABORA_ADMIN_USER=redacted
COLLABORA_DOMAIN=redacted
COLLABORA_HOME_MODE=redacted
COLLABORA_SSL_ENABLE=redacted
COLLABORA_SSL_VERIFICATION=redacted

COMPOSE_FILE=redacted
COMPOSE_PATH_SEPARATOR=redacted

IDM_ADMIN_PASSWORD=redacted
INITIAL_ADMIN_PASSWORD=redacted

INSECURE=redacted
LOG_LEVEL=redacted
LOG_PRETTY=redacted

OC_APPS_DIR=redacted
OC_CONFIG_DIR=redacted
OC_CONTAINER_UID_GID=redacted
OC_DATA_DIR=redacted
OC_DOCKER_IMAGE=redacted
OC_DOMAIN=redacted

WOPISERVER_DOMAIN=redacted
WOPI_ALLOWED_HOSTS=redacted

# ref: see docker-compose.yml
OC_PASSWORD_POLICY_DISABLED=redacted
OC_PASSWORD_POLICY_MIN_CHARACTERS=redacted
OC_PASSWORD_POLICY_MIN_LOWERCASE_CHARACTERS=redacted
OC_PASSWORD_POLICY_MIN_UPPERCASE_CHARACTERS=redacted
OC_PASSWORD_POLICY_MIN_DIGITS=redacted
OC_PASSWORD_POLICY_MIN_SPECIAL_CHARACTERS=redacted
# https://docs.opencloud.eu/docs/admin/configuration/remove-password-from-link
OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD=redacted

SMTP_HOST=redacted
SMTP_PORT=redacted
SMTP_ENCRYPTION=redacted
SMTP_AUTHENTICATION=redacted
SMTP_USERNAME=redacted
SMTP_PASSWORD=redacted
SMTP_SENDER=redacted
START_ADDITIONAL_SERVICES=redacted

