
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'toolbreakapp624c_PressSelect_list' %}">
    PressSelect Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
    <tr><td>press_num</td><td>{{ object.press_num }}</td></tr>
    <tr><td>process</td><td>{{ object.process }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}