
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'toolbreakapp624c_Supervisor_list' %}">
    Supervisor Listing
    </a>
</p>
    
<table class="table">
    <tr><td>supervisor_email</td><td>{{ object.supervisor_email }}</td></tr>
    <tr><td>supervisors</td><td>{{ object.supervisors }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}