#Django>=2,<3
#Django<=4.1.7
django
django-extensions
djangorestframework
djangorestframework_simplejwt
django-cors-headers
#django-crontab
apscheduler
gunicorn

mysqlclient
django-environ
whitenoise

channels
channels_redis
django-htmx
Pillow

django-auth-ldap