###################################################################################

# admin  pd9 2022-01-19

# works..
# NC_DB=mysql2://dbm:3306?u=muser&p= w &d=dkrdb


# MYSQL_ROOT_PASSWORD=
# MYSQL_PASSWORD=

# MYSQL_ROOT_USER=root
# MYSQL_ROOT_PASSWORD=

# MYSQL_USER=muser
# MYSQL_PASSWORD=



# noworky..
#NC_DB="mysql2://root_db:3306?u=root& p=noco&d=root_db"
#NC_DB="mysql2://root_db:3306?u=noco&p=password&d=root_db"
#NC_DB=mssql://root_db:1433?u=sa&p=Password123.&d=root_db

###################################################################################
