
cert.pem


.env
.env.*
.env.secret
.vscode

*.pyc

staticfiles/
mediafiles/
djangosite/static/

postgres/data/

sysdata/
datasys/
data/
log/
x/
baks/

zip/

*.tgz
*.tar.gz
*.zip


#*.sqlite3

# SQLite backups
red74/wfsearch_811_yard/wfsearch811/djangosite/sqlitedb/wfsearch-files.db
red74/wfsearch_811_yard/wfsearch811/djangosite/sqlitedb/wfsearch-files.db-bak-a
