{% extends "base.html" %}
{% block content %}
<div class="m-2"><h4>toolbreakapp624c</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_ToolsShopFloor_list' %}">ToolsShopFloor Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_CompactIssue_list' %}">CompactIssue Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_PartNumber_list' %}">PartNumber Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_Tool_list' %}">Tool Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_Supervisor_list' %}">Supervisor Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_PressSelect_list' %}">PressSelect Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_PressInfo_list' %}">PressInfo Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_Deviation_list' %}">Deviation Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_Engineering_list' %}">Engineering Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_ToolRoom_list' %}">ToolRoom Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_ToolBreakageReport_list' %}">ToolBreakageReport Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_Help_list' %}">Help Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'toolbreakapp624c_CoinIssue_list' %}">CoinIssue Listing</a></div>
<div class="m-2"><h4>blogappm2m</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'blogappm2m_PostedFromTbl_list' %}">PostedFromTbl Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'blogappm2m_TagTbl_list' %}">TagTbl Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'blogappm2m_PostTbl_list' %}">PostTbl Listing</a></div>
<div class='container'>
<div class='card'>
<div class='card-body'>
<div><a href="{% url 'htmx' %}">HTMX UI</a></div>
</div>
</div>
</div>
{% endblock %}