
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'toolbreakapp624c_Engineering_list' %}">
    Engineering Listing
    </a>
</p>
    
<table class="table">
    <tr><td>engineer_analysis</td><td>{{ object.engineer_analysis }}</td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
    <tr><td>prevent_recurrence</td><td>{{ object.prevent_recurrence }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}