
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'toolbreakapp624c_Help_list' %}">
    Help Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="help">help: </label>
      <input class="form-control col-sm-10"
         id="help" type="text"
         name="help" value="{{ object.help }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created_at">created_at: </label>
      <input class="form-control col-sm-10"
         id="created_at" type="datetime-local"
         name="created_at" value="{{ object.created_at }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="updated_at">updated_at: </label>
      <input class="form-control col-sm-10"
         id="updated_at" type="datetime-local"
         name="updated_at" value="{{ object.updated_at }}" disabled>
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}