Django>=4
django-extensions
djangorestframework

djangorestframework_simplejwt
django-cors-headers
apscheduler
gunicorn

mysqlclient
django-environ
whitenoise

channels
channels_redis
django-htmx
Pillow

python-magic
